#---------------------------------------------------------------#
#-------------- Generate Citation Configurations ---------------#
#---------------------------------------------------------------#
# Configuration properties used to generate human-readable      # 
# citations. Implemented for the Sistedes Digital Library.      #
#---------------------------------------------------------------#

# Delete existing 'dc.identifier.citation' before creating a new one
# Defaults to false
# generatecitation.force = false
