#---------------------------------------------------------------#
#---------- Generate BibTeX Citation Configurations ------------#
#---------------------------------------------------------------#
# Configuration properties used to generate BibTeX-readable     # 
# citations. Implemented for the Sistedes Digital Library.      #
#---------------------------------------------------------------#

# Delete existing 'dc.identifier.citation-bibtex' before creating a new one
# Defaults to false
# generatecitation.force = false
